# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
build/
**/dist/

# Environment variables (JANGAN di-push ke GitHub!)
.env
**/.env
.env.local
.env.production

# Prisma generated client
backend/node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
